--- # Only the main Sass file needs front matter (the dashes are enough) sitemap: false --- @charset "utf-8";

@import "so-simple";

.entry-image {
    max-width: 400px !important;
    width: 100% !important;
    height: auto !important;
}